<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
        {#Renders a link tag (if your module requires any CSS)#}
        {#<link rel="stylesheet" href="/build/app.css">#}
    {% endblock %}

</head>

<body cz-shortcut-listen="true">

<header>
    {% block header %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand"  href="{{ path('homepage') }}">LYDIA PAY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('payment') }}">Payment
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {#<li class="nav-item">#}
                            {#<a class="nav-link" href="#">Connexion</a>#}
                        {#</li>#}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

<main role="main">
    {% block body %}
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
        </div>

    {% endblock body %}
</main>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">All rights reserved to Lydia</p>
    </div>
    <!-- /.container -->
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>