{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

        <div class="col-md-12  text-center">
            <h1 class="mt-5">Welcome to the Lydia payment api</h1>
            <p class="lead">Lorem ipsum Ut ut sint deserunt anim fugiat fugiat ad deserunt proident. Sint Lorem qui dolor est sunt quis sit.</p>
        </div>

    </div>

{% endblock %}