{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12  text-center">
            <h1 class="mt-5">Make a payment</h1>
            <p class="lead">Lorem ipsum Ut ut sint deserunt anim fugiat fugiat ad deserunt proident. Sint Lorem qui dolor est sunt quis sit.</p>
        </div>
        <div class="col-md-12  text-left">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form(form) }}

        </div>
    </div>
{% endblock %}